<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body background="{% static 'images/psgbg.jpg' %}">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
    <form method="post">
      <h3>PSG Attendance Management</h3>
      {% csrf_token %}
      <label for="username">Username</label>
      <input type="text" placeholder="Enter Username" id="username" name="username">

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password" name="pass">

      <button type="submit">Log In</button>
      <a href="{% url 'signup' %}" id="createAccount">Create an account</a>
    </form>
  </div>
</body>

</html>