<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Signup Page</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body background="{% static 'images/psgbg.jpg' %}">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <!-- <img src="{% static 'images/psglogo.jpg' %}" alt="Logo" class="logo"> -->
        <h3>Signup</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username">

        <label for="email">Email</label>
        <input type="email" placeholder="Email" name="email" id="email">

        <label for="password1">Password</label>
        <input type="password" placeholder="Password" id="password1" name="password1">


        <label for="password2">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="password2" name="password2">
        <button type="submit">Signup</button>

        <a href="{% url 'login' %}" id="haveAccount">Already have an account?</a>
    </form>
</body>

</html>